<h1> Dice Roll </h1>

<% 
outcome1 = rand(1..6)
outcome2 = rand(1..6)
%>

<p> 

Roll 1 is <%=outcome1%> 

</p>
<p> 
Roll 2 is <%=outcome2%> 
</p>
<p> 
Dice total is <%=outcome1 + outcome2%> 
</p>

<img src="images/dice/1.svg" alt="">

<p>
<a href = "/dice"> Roll again</a>

</p>